/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Bad+Script&family=Open+Sans&display=swap");

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: "Open Sans", sans-serif;
}

html, body {
    height: 100%;
}

body > footer {
    position: sticky;
    top: 100vh;
}

body {
    background-color: #2c303a;
}

.btn {
    font-size: 1em;
    padding: 6px 12px;
    margin: 0.5em;
    display: block;
    text-decoration: none;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    white-space: nowrap;
    cursor: pointer;
    border-radius: 0.5em;
    border: 1px solid transparent;
    background-color: #3288bd;
    color: #ffffff;
    transition: all 0.2s ease-in-out;
}

.btn:hover {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    filter: saturate(3);
}

/* dialogs / modals */
dialog {
    position: absolute;
    top: 0;
    margin: 3em auto;
    width: 90vw;
    color: #ffffff;
    background-color: rgba(33, 37, 41, 0.9);
    border-radius: 1em;
    border-color: #495057;
    box-shadow: 2px 10px 20px rgba(0, 0, 0, 0.75);
}

dialog[open] {animation: slideDown 0.5s ease normal;}
dialog.slideUp {animation: slideUp 0.5s ease normal;}

@keyframes slideDown {
    from {transform: translateY(-125%);}
    to {transform: translateY(0%);}
}

@keyframes slideUp {
    to {transform: translateY(-125%);}
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
}

.dialog-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.modal-header {
    display: flex;
    flex-shrink: 0;
    align-items: start;
    justify-content: space-between;
    padding: 1em 2em;
    margin: 0;
    border-bottom: 1px solid #495057;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.modal-header h2 {
    flex-grow: 1;
    font-size: 2em;
    font-family: "Bad Script", cursive;
}

.modal-header i {
    padding: 0.5em;
    transition: all 0.2s ease-in-out;
}

.modal-header i:hover {
    color: #757575;
}

.modal-body {
    flex: 1 1 auto;
    padding: 1em;
    width: 100%;
}

.modal-footer {
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    padding: 1em;
    width: 100%;
    border-top: 1px solid #495057;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}

/* header / nav */
header {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

/* main / sections */
main {
    width: 100%;
    padding: 1em;
}

#welcome,
#quiz-section,
#final-results {
    margin: 1em auto;
    padding: 1em;
    background-color: #757575;
    border-radius: 1em;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}

#select-game {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: inherit;
    padding: 2em;
    background-color: rgba(0, 0, 0, 0.5);
}

/* polaroids */

/* colors from ColorBrewer2.org: diverging*10 */
.polaroid:nth-child(1) img {border: 0.5em outset #9e0142;}
.polaroid:nth-child(2) img {border: 0.5em outset #d53e4f;}
.polaroid:nth-child(3) img {border: 0.5em outset #f46d43;}
.polaroid:nth-child(4) img {border: 0.5em outset #fee08b;}
.polaroid:nth-child(5) img {border: 0.5em outset #66c2a5;}
.polaroid:nth-child(6) img {border: 0.5em outset #3288bd;}
.polaroid:nth-child(7) img {border: 0.5em outset #5e4fa2;}

.polaroid {
    --polaroid-width: 60vw;
    min-width: var(--polaroid-width);
    max-width: var(--polaroid-width);
    text-align: center;
    padding: 0.5em;
    margin: 0.5em auto;
    cursor: pointer;
    background-color: #ffffff;
    box-shadow: 0 8px 20px #000000;
    transition: all 0.3s ease-in-out;
}

.polaroid img {
    border-radius: 4px;
    width: 100%;
}

.polaroid figcaption {
    font-weight: bold;
    font-size: 2em;
    font-family: "Bad Script", cursive;
}

.polaroid:hover,
.polaroid.left:hover,
.polaroid.right:hover {
    z-index: 1;
    transform: scale(0.9) rotate(0);
}

/* question area */
#quiz-section {
    padding: 0;
    color: #ffffff;
}

#quiz-container {
    text-align: center;
    display: flex;
    flex-direction: column;
}

#quiz-header {
    padding: 1em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#level,
#time {
    font-size: 1.5em;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.5em;
    margin: 0.25em 0.5em;
    width: 100%;
    border-radius: 0.5em;
}

#game-selected,
#time-left,
#question-tally,
#total-correct,
#total-incorrect,
#total-points {
    border-radius: 0.25em;
    font-weight: bold;
    padding: 0.1em 0.5em;
    margin: 0;
}

#game-selected,
#time-left,
#total-correct {
    color: #000000;
    background-color: #66c2a5;
}

/* progress bar */
.progress-container {
    width: 100%;
    padding: 0;
    height: 0.5em;
    background: rgba(0, 0, 0, 0.25);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

.progress-bar {
    width: 100%;
    height: 0.5em;
    background-color: #66c2a5;
    transition: all 0.5s ease-in-out;
}

/* quiz question */
#quiz-question {
    margin: 1em;
    font-size: 1.5em;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

#question-results {
    font-size: 1.25em;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0.5em;
    padding: 1em;
    width: 75%;
}

#quiz-question .question-number,
#user-selection,
#country,
.result-row-content h3 .index {
    color: #fee08b;
}

#quiz-question .question-number::after {
    content: ".";
}

/* flags x4 */
#flags {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-gap: 0 1em;
    margin-bottom: 1em;
    padding: 1em;
}

#flags figure {
    display: flex;
    margin: 0.5em auto;
    position: relative;
    cursor: pointer;
    padding: 0.75em;
    width: 100%;
    border-radius: 0.5em;
    box-shadow: 0px 2px 13px 2px rgba(34, 60, 80, 0.2);
    background-color: #efefef;
    background: linear-gradient(to left, #aaaaaa, #efefef);
    transition: all 0.3s ease-in-out;
}

#flags figure:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}

#flags figure img {
    min-height: 150px;
    max-height: 150px;
    max-width: 100%;
    object-fit: contain;
}

#flags figure figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(33, 37, 41, 0.9);
    overflow: hidden;
    width: 100%;
    height: 0;
    border-radius: 0.5em;
}

#flags figure.hover:hover figcaption {
    height: 100%;
}

#flags figure span {
    color: #ffffff;
    font-size: 6vw;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-shadow: 2px 2px 2px #000000;
}

/* correct / incorrect */
.correct {
    color: #66c2a5;
}

.incorrect {
    color: #d53e4f;
}

#flags figure figcaption.correct {
    background-color: rgba(102, 194, 165, 0.95);
}

#flags figure figcaption.incorrect {
    background-color: rgba(213, 62, 79, 0.95);
}

#flags figure.incorrect {
    animation: wiggleFlag 0.5s linear;
}

@keyframes wiggleFlag {
    8%, 41% {transform: translateX(-10px);}
    25%, 58% {transform: translateX(10px);}
    75% {transform: translateX(-5px);}
    92% {transform: translateX(5px);}
    0%, 100% {transform: translateX(0);}
}

/* quiz footer */
#quiz-footer {
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 1.5em;
    border-top: 0.25em solid rgba(0, 0, 0, 0.25);
}

#question-tracker {
    width: 100%;
    margin: 0.25em 0.5em;
    padding: 0.5em;
    border-radius: 0.5em;
    background-color: rgba(0, 0, 0, 0.5);
}

#question-tally,
#total-points {
    color: #000000;
    background-color: #fee08b;
}

#next-btn,
#results-btn {
    font-weight: bold;
    padding: 0.5em 0.75em;
    margin: 0.25em 0.5em;
    width: 100%;
}

/* quiz results */
#results-header {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    padding: 1em;
    text-align: center;
    color: #ffffff;
    background-color: #3288bd;
    text-shadow: 2px 2px 2px #000000;
}

#results-container {
    display: flex;
    flex-direction: column;
    border-radius: 0.5em;
}

.result-row {
    width: 100%;
    padding: 0.5em 1em;
    color: #ffffff;
    background-color: #212529;
    border: 1px solid #495057;
    border-top-width: 0;
}

.result-row-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.result-row-content h3 {
    padding: 0.5em;
    margin: 0;
    width: 100%;
}

.badge {
    margin: 1em;
    padding: 0.25em 0.75em;
    width: 100%;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    border-radius: 50em;
}

.badge.correct {
    color: #000000;
    background-color: #66c2a5;
}

.badge.incorrect,
#results-btn,
#total-incorrect {
    color: #ffffff;
    background-color: #d53e4f;
}

#results-footer {
    border-bottom-right-radius: inherit;
    border-bottom-left-radius: inherit;
    background-color: #3288bd;
    padding: 1em;
}

#results-footer h2 {
    font-size: 1.5em;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.5em;
    margin: 0.5em auto;
    border-radius: 0.5em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* footer */
footer {
    width: 100%;
    height: 2em;
    background-color: rgba(0, 0, 0, 0.75);
}

/* media queries */
@media screen and (min-width: 450px) {

    #select-game {
        flex-direction: row;
    }

    /* polaroids */
    .polaroid {
        --polaroid-width: 35vw;
    }

    /* flags */
    #flags figure span {
        font-size: 5vw;
    }

    /* final results */
    .result-row .result-row-content {
        flex-direction: row;
    }

    .badge {
        width: unset;
    }
}

@media screen and (min-width: 600px) {

    /* polaroids */
    .polaroid {
        --polaroid-width: 25vw;
        margin: -20px auto;
    }

    .polaroid.left {
        transform: scale(0.75) rotate(-5deg);
    }

    .polaroid.right {
        transform: scale(0.75) rotate(5deg);
    }

    #quiz-header,
    #quiz-footer {
        flex-direction: row;
    }

    #level,
    #time,
    #question-tracker,
    #next-btn,
    #results-btn {
        margin: 0;
        width: unset;
    }

    /* flags */
    #flags {
        grid-template-columns: 1fr 1fr;
    }

    #flags figure span {
        font-size: 4vw;
    }

    /* study */
    dialog#study {
        max-width: 50vw;
    }
}

@media screen and (min-width: 800px) {

    /* polaroids */
    .polaroid {
        --polaroid-width: 20vw;
    }

    /* quiz section */
    #quiz-section {
        max-width: 80vw;
    }

    /* flags */
    #flags {
        max-width: 70vw;
    }

    #flags figure span {
        font-size: 3vw;
    }

    /* final results */
    #final-results {
        max-width: 75vw;
    }
}

@media screen and (min-width: 1000px) {

    /* quiz section */
    #quiz-section {
        max-width: 60vw;
    }

    /* flags */
    #flags figure span {
        font-size: 2vw;
    }

    /* final results */
    #final-results {
        max-width: 60vw;
    }
}

@media screen and (min-width: 1200px) {

    /* polaroids */
    .polaroid {
        --polaroid-width: 13vw;
        margin: 0 auto;
    }

    /* flags */
    #flags {
        max-width: 50vw;
    }

    /* final results */
    #final-results {
        max-width: 50vw;
    }
}


/* hide / invisible / disable */

.hide {
    display: none;
}

.invisible {
    opacity: 0;
    visibility: hidden;
}

.disable {
    pointer-events: none;
}

.btn.disable {
    background-color: lightslategray;
}
