/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Bad+Script&family=Open+Sans&display=swap");

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: "Open Sans", sans-serif;
}

html, body {
    height: 100%;
}

body > footer {
    position: sticky;
    top: 100vh;
}

body {
    background-color: #cccccc;
}

.btn {
    font-size: 1em;
    padding: 6px 12px;
    margin: 0.5em;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    border-radius: 0.5em;
    border: 1px solid transparent;
    background-color: #3288bd;
    color: #ffffff;
    transition: all 0.2s ease-in-out;
}

.btn:hover {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* dialogs / modals */
dialog {
    margin-top: 3em;
    min-width: 50vw;
    max-width: 90vh;
    color: #ffffff;
    background-color: rgba(33, 37, 41, 0.9);
    border-radius: 1em;
    border-color: #495057;
    box-shadow: 2px 10px 20px rgba(0, 0, 0, 0.75);
}

dialog[open] {animation: slideDown 0.5s ease normal;}
dialog.slideUp {animation: slideUp 0.5s ease normal;}

@keyframes slideDown {
    from {transform: translateY(-125%);}
    to {transform: translateY(0%);}
}

@keyframes slideUp {
    to {transform: translateY(-125%);}
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
}

.dialog-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.modal-header {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding: 1em 2em;
    margin: 0;
    border-bottom: 1px solid #495057;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.modal-header h2 {
    flex-grow: 1;
}

.modal-header i {
    padding: 0.5em;
    transition: all 0.2s ease-in-out;
}

.modal-header i:hover {
    color: #757575;
}

.modal-body {
    flex: 1 1 auto;
    padding: 1em;
}

.modal-footer {
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    padding: 1em;
    width: 100%;
    border-top: 1px solid #495057;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

/* header / nav */
header {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

/* main / sections */
main {
    width: 100%;
}

section {
    margin: 1em auto;
    padding: 1em;
}

#select-game {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* polaroids */

/* colors from ColorBrewer2.org: diverging*10 */
.polaroid:nth-child(1) {background-color: #9e0142;}
.polaroid:nth-child(2) {background-color: #d53e4f;}
.polaroid:nth-child(3) {background-color: #f46d43;}
.polaroid:nth-child(4) {background-color: #fee08b;}
.polaroid:nth-child(5) {background-color: #66c2a5;}
.polaroid:nth-child(6) {background-color: #3288bd;}
.polaroid:nth-child(7) {background-color: #5e4fa2;}

.polaroid {
    width: 250px;
    text-align: center;
    font-size: 2em;
    padding: 0.25em;
    margin: 0.5em auto;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 8px 20px #000000;
    cursor: pointer;
}

.polaroid img {
    display: none;
    border-radius: 4px;
    width: 100%;
}

.polaroid:hover,
.polaroid.left:hover,
.polaroid.right:hover {
    z-index: 1;
    transform: scale(0.9) rotate(0);
}

/* question area */
section#quiz {
    text-align: center;
}

section#quiz h2 {
    font-size: 150%;
    margin-bottom: 1em;
}

/* flags x4 */
#flags {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-gap: 1em;
}

#flags figure {
    margin: 0.5em auto;
    position: relative;
    cursor: pointer;
}

#flags figure img {
    min-height: 150px;
    max-height: 150px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease-in-out;
}

#flags figure img:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}

#flags figure figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(33, 37, 41, 0.9);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: all 0.3s ease-in-out;
}

#flags figure.hover:hover figcaption {
    height: 100%;
}

#flags figure span {
    color: #ffffff;
    font-size: 5vw;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#flags figure.incorrect {
    animation: wiggleFlag 0.5s linear;
}

@keyframes wiggleFlag {
    8%, 41% {transform: translateX(-10px)}
    25%, 58% {transform: translateX(10px)}
    75% {transform: translateX(-5px)}
    92% {transform: translateX(5px)}
    0%, 100% {transform: translateX(0)}
}

/* footer */
footer {
    width: 100%;
    height: 2em;
    background-color: rgba(0, 0, 0, 0.75);
}

/* media queries */
@media screen and (min-width: 450px) {
    #select-game {
        flex-direction: row;
    }

    /* polaroids */
    .polaroid {
        width: 200px;
    }
}

@media screen and (min-width: 600px) {
    /* polaroids */
    .polaroid {
        width: 200px;
        font-family: "Bad Script", cursive;
        background-color: #ffffff !important;
    }
    .polaroid img {
        display: block;
    }

    .polaroid.left {
        transform: scale(0.75) rotate(-5deg);
    }

    .polaroid.right {
        transform: scale(0.75) rotate(5deg);
    }

    /* flags */
    #flags {
        grid-template-columns: 1fr 1fr;
    }

    #flags figure span {
        font-size: 3vw;
    }
}

@media screen and (min-width: 800px) {
    /* flags */
    #flags {
        max-width: 70vw;
    }
    
    #flags figure span {
        font-size: 2vw;
    }
}

@media screen and (min-width: 1200px) {
    /* flags */
    #flags {
        max-width: 50vw;
    }
}

.hide {
    display: none;
}

.invisible {
    opacity: 0;
    visibility: hidden;
}

.disable {
    pointer-events: none;
}

.btn.disable {
    background-color: lightslategray;
}
